/* CHROME */
/* body::-webkit-scrollbar{
    display: none !important;
} */
/* FIREFOX */
/* body {
    /* -ms-overflow-style: none !important;  IE and Edge 
    /* scrollbar-width: none !important;  Firefox 
} */

.margin_bottom{
    margin-bottom: 15px;
}

.receive_div{
    width: auto;
    border-radius: 10px;
    background: #E6E6E6 !important;
    padding: 15px 15px;
    /* box-shadow:  2px 2px 5px hsl(240, 39%, 84%), 
                 -2px -2px 4px hsl(240, 0%, 100%); */
}

.receive_label{
    color: #424245;
    font-weight: 700;
    font-family: var(--Nunito);
    font-size: 16px;
}

.receive_content{
    font-weight: 700;
    font-family: var(--Nunito);
    font-size: 16px;
    color: #363795;
    /* background: #fff; */
}

.receive_input{
    /* font-family: var(--Source_Sans_Pro); */
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    /* width: auto; */
    width: -moz-available;
    padding: 8px 0;
    /* background: #f2f2f2 !important; */
    box-shadow:
            inset 2px 2px 4px hsl(240, 39%, 84%), 
            inset 2px -2px 4px hsl(240, 0%, 100%);
}

.receive_button{
    cursor: pointer;
    color: #fff;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--Nunito);
    background: #363795;
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 10px;
}

input.receive_content{
    background: transparent;
}

select{
    /* background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
    background-size: 200% auto; */
    background: #3C5393;
    border: none;
    outline: none;
    color: #fff;
    font-family: var(--Mont);
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

#date{
    font-size: 18px;
    font-weight: 600;
}

.ajax_table_mobile{
    display: block;
}

.ajax_table_desktop{
    display: none;
}

.center{
    text-align: center;
    width: 100%;
    padding: 5px 0px;
}

@media (min-width: 768px) {
    .ajax_table_mobile{
        display: none;
    }
    .ajax_table_desktop{
        display: block;
        height: 290px;
        overflow: scroll;
    }

    .receive_div{
        box-shadow:  none;
    }
}