.ui.ribbon.label{
    background: #3B83C0;
    color: #fff;
}

#learn_more_desktop{
    display: none;
}

.user_manual{
    width: auto;
    margin: 50px;
    padding: 0;
}

.right_div,
.left_div{
    padding: 30px;
    width: 50%;
    height: 500px;
}

.manual_card{
    margin-bottom: 20px;
}

.ribbon{
    font-size: 16px !important;
}

.manual_step{
    font-size: 16px !important;
    /* color: #00b5ad !important; */
    color: #3B83C0 !important;

}

.description{
    font-size: 15px !important;
    font-family: var(--Mont) !important;
}

.px28{
    height: 28px;
    width: 28px;
    font-size: 26px;
    color: #3B83C0;
}

.guide_image{
    width: 100%;
}

@media (min-width: 768px) {

    #learn_more_desktop{
        display: block;
    }

}
