@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');



:root{
    --Poppins: 'Poppins', sans-serif;
    --Mont: 'Montserrat', sans-serif;
    --Source_Sans_Pro: 'Source Sans Pro', sans-serif;
    --Ubuntu: 'Ubuntu', sans-serif;
    --Nunito: 'Nunito Sans', sans-serif;
}

body {
    background-color: #CCCDCF;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

span,
label,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: var(--Nunito);
}

button, a{
    border: none;
    outline: none;
}

table{
    font-family: var(--Nunito);
    font-size: 16px;
}

hr{
    border-top: 2px solid #363795 !important;
}

.close{
    display: none !important;
}

.flex{
    display: flex;
}

.CONTAINER{
    width: 100%;
}
.container{
    display: flex;
    width: 100%;
}

.container_in{
    display: block;
    width: 100%;
}

.col-1-8{
    width: 8%;
}

.col-1-65{
    width: 65%;
}

.col-1-35{
    width: 35%;
}

.Col-1-50,
.Col-2-50{
    width: 50%;
    margin: 0;
    padding: 0;
}

.Col-1-70,
.Col-2-30{
    margin: 0;
    padding: 0;;
}
.Col-1-70{
    width: 70%;
}
.Col-2-30{
    width: 30%;
}

.Col-1-50_in,
.Col-2-50_in{
    width: 100%;
    margin: 0;
    padding: 0;
}

.Col-1-33,
.Col-2-33,
.Col-3-33{
    width: 33%;
}

.Col-1-33_in,
.Col-2-33_in,
.Col-3-33_in{
    width: 100%;
    margin: 0;
    padding: 0;
}

.Col-3-33_in{
    background: #E6E6E6;
    /* border: 1px solid rgb(123, 123, 123, 60%); */
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 16%);
}

#ajax_search_mobile{
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

#ajax_search_mobile div{
    width: 100%;
}

.text_center{
    text-align: center;
}

.blue_conf{
    background: #3C5393;
}

.right{
    float: right;
}

.vertical_center{
    display: flex;
    align-items: center;
}

.system_title{
    font-family: var(--Nunito);
    font-size: 30px;
    font-weight: bold;
    color: #3C5393;
    text-align: center;
}

.global_button{
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    background: #363795;
    width: 200px;
    font-family: var(--Nunito);
    border: none;
    outline: none;
    padding: 7px 0;
    border-radius: 5px;
}

.completed {
    background: #569F87;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 200px;
    font-family: var(--Nunito);
    border: none;
    outline: none;
    padding: 7px 0;
    border-radius: 5px;
}

.remain {
    background: #800000;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 200px;
    font-family: var(--Nunito);
    border: none;
    outline: none;
    padding: 7px 0;
    border-radius: 5px;
}

.logout_button {
    background: #800000 !important;
    color: #fff !important;
    border-radius: 5px;
}

.pad_30 {
    padding-left: 30px;
    padding-right: 30px;
}

.mt_30 {
    margin-top: 30px;
}

.mr_20{
    margin-right: 20px;
}

.badge {
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}



@media (min-width: 320px) and (max-width: 767px) {

    .system_title{
        font-size: 24px;
        font-weight: 500;
    }

    #logo {
        text-align: center;
    }

    .incoming_div {
        display: none !important;
    }

}

@media (min-width: 768px) {

    body{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container_in{
        display: flex;
        width: 100%;
    }
    .Col-1-50_in,
    .Col-2-50_in{
        width: 50%;
        margin: 20px;
    }
    .Col-2-50_in{
        box-shadow: 5px 5px 10px hsl(240, 39%, 84%), -4px -4px 8px hsl(240, 0%, 100%);
        padding: 10px;
        border-radius: 10px;
    }

    .Col-1-33_in,
    .Col-2-33_in,
    .Col-3-33_in{
        width: 33%;
        margin: 20px;
        padding: 0px 0px;
        border-radius: 10px;
    }

    /* .Col-2-33_in,
    .Col-3-33_in{
        background: #fff;
        box-shadow: 2px 2px 2px hsl(240, 39%, 84%), -2px -2px 2px hsl(240, 0%, 100%);
    } */

    .Col-2-33_in{
        height: 300PX;
    }

    /* br{
        display: none;
    } */

    #ajax_search_mobile{
        width: 100%;
    }

    .div_info_area {
        height: 300px;
    }

}

