

.table td{
    padding:3px;
}

table{
    width: 100%;
    border: none !important;
    outline: none !important;
}
td,
th,
tr{
    width: auto;
    border: none;
    outline: none;
 /* text-align: center !important; */
}
thead{
    border: none;
    outline: none;
}

th{
    text-transform: uppercase !important;
    background: #0087dc !important;
    color: #fff !important;
    border: none !important;
}
td{
    font-size: 14px !important;
}

.import_div{
    margin: 30px;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 20px;
}

#fileupload{
    background: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
    background-size: 200% auto;
    padding: 10px 10px;
    width: 200px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 20px !important;
    display: none;
}

#browse_file{
    cursor: pointer;
    background: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
    background-size: 200% auto;
    padding: 15px 15px;
    margin-right: 20px;
    width: 150px;
    border-radius: 10px;
    color: #fff;
}

#clear_table{
    background: #953637;
    color: #fff;
    border-radius: 10px;
    padding: 15px 15px;
    border: none;
    outline: none;
    width: 150px;
}

#upload_table{
    background: #5bbd72;
    color: #fff;
    border-radius: 10px;
    padding: 15px 15px;
    margin-right: 20px;
    border: none;
    outline: none;
    width: 150px;
}

#p_slip_import,
#s_slip_import{
    text-align: center;
    margin-right: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 5px;
}


/* 

.table tbody tr td .btn-success{
        padding: 2px 10px;
        margin: 5px;
        font-size :0.8em;
}

.table tbody tr td .btn-danger{
        padding: 2px 10px;
        margin: 5px;
        font-size :0.8em;
} */