* {
    box-sizing: border-box;
}


#slide_show{
    margin-top: 50px;
}
  
.frame {
    color: #fff;
    border-radius: 10px;
    margin-top: 30px;
    width: 90%;
    height: 550px;
    
    margin: auto;
    /* border: 1px solid #333; */
    overflow: hidden;
    scroll-behavior: smooth;
    
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../images/WH1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* box-shadow:  2px 2px 5px hsl(240, 39%, 84%), 
                 -2px -2px 4px hsl(240, 0%, 100%); */
}
  
  /* Needs to be the width of the sum of it's elements */
  /* 3 elements, so 300% width */
.scroller {
    width: 300%; 
    height: 100%;
    display: flex;
    /* background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
    background-size: 200% auto; */
}
  
.element {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

#learn_more,
#learn_more_desktop{
    margin-top: 20px;
    background: #3C5393;
    font-weight: 500;
    border-radius: 10px;
    padding: 15px 0px;
    width: 100%;
    /* background:  #005C97; */
    color: #fff;
    border: none;
    outline: none;
}

#next{
    color: #363795;
    background: #fff;
    font-weight: 500;
    border-radius: 10px;
    padding: 15px 0px;
    width: 55%;
    border: none;
    outline: none;
}

.slide_content{
    padding: 20px;
    display: table-cell;
    height: 500px;
    vertical-align: middle;
    text-align: center !important;
}

.title{
    color: #3C5393;
    /* color: #363795; */
    /* text-shadow: 2px 2px 4px #005C97; */
    text-shadow: 2px 2px #fff;
}

.title_steps{
    color: #fff;
    /* text-shadow: 2px 2px 3px #fff; */
}

.color_000{
    color: #000;
    font-weight: 400;
}

.color_fff{
    color: #fff;
    font-weight: 400;
}

.image_instruction{
    border-radius: 5px;
    width: 100%;
    height: auto;
}

#slide2{
    background: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
    background-size: 200% auto;
    overflow: scroll;
}

.image_content{
    display: none;
}
  
  /* #slide1 { background-color: lightpink; }
  #slide2 { background-color: lightgreen; }
  #slide3 { background-color: lightblue; } */


@media (min-width: 768px) {

    .frame{
        width: 500px;
        height: 500px;
    }

    /* CHROME */
    .frame::-webkit-scrollbar{
        display: none !important;
    }
    /* FIREFOX */
    .frame::-webkit-scrollbar{
        -ms-overflow-style: none !important;  /* IE and Edge */
        scrollbar-width: none !important;  /* Firefox */
    }

    .image_content{
        display: block;
    }

}